.login {
  height: 100vh;
  position: relative;
  background: url('../../assets/bg.jpg') no-repeat;
  background-size: 100% auto;
  background-position: center center;
  &-form {
    width: 600px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
