.layout {
  height: 100vh;
  .layout-sider {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
  }

  .layout-main {
    margin-left: 200px;
    height: 100vh;
  }

  .layout-main-header {
    background-color: #fff;
    padding: 0 24px;
  }
  .layout-main-main {
    padding: 24px;
    margin: 24px;
    background-color: #fff;
    flex: none;
  }
  .layout-main-header-trigger {
    font-size: 18px;
  }
}
